[Desktop Entry]

# Copyright (C) 2017-2018 Jamil Said Jr
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#
## This file is part of the synczz program. This program will attempt
## to synchronize the content of two directories, making one directory the 
## exact duplicate of the other (i.e.: both will have the same subdirectories 
## and files). A GUI pop-up (zenity) will alert you in case of success 
## and present the number of items synchronized. In case of any failure
## a GUI pop-up will open alongside with a log page with the error. This 
## program only runs for an specific user, in this case user "owner"
## (that can be modified). Logs are created with date on the their names. 
##
## This program was created for and tested in Linux Debian 8 & 9.

Encoding=UTF-8
Name=Sync Folders
Comment=Sync Folders
Exec=/home/owner/synczz/synczz4
Terminal=false
Type=Application
Icon=gnome-session-suspend
Categories=System;

